{{!< default}}
{{#post}}
    <section>
        {{#if image}}
            <div class="article-img">
                <img src="{{image}}" alt="pic" >
            </div>
        {{/if}}
        <div class="article-info">
        <h3>
            <a href="javascript:;">{{title}}</a>
		</h3>
		<span class="pub-info" >{{date format="YYYY/MM/DD"}}</span>
        </div>
		<article class="markdown-body">
			{{content}}
		</article>
	</section>
{{/post}}