#ds-reset{
    ul,li {
        list-style: none;
    }
    p {
        margin: 0;
    }
    .ds-meta,.ds-comments-info {
        display: none;
    }
    .ds-comments {
        padding-left: 0;
    }
    .ds-post {
        .ds-post-self {
            display: flex;
            flex: 1;
        }
        .ds-avatar {
            flex: 0 0 50px;
            order: -1;
            img {
                border-radius: 50%;
                border: 2px solid #ffffff;
            }
        }
        .ds-comment-body {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            p {
                width: 100%;
            }
            .ds-comment-footer {
                order: -1;
                .ds-post-repost,.ds-post-report {
                    display: none;
                }
            }
            .ds-comment-header {
                order: -2;
                .ua .ua .sskadmin {
                    color: #00a67c;
                }
                span.ua {
                    display: inline-block !important;
                    margin: auto 1px .3em !important;
                    color: #fff !important;
                }
                .os_other {
                    background-color: #bdb2a7!important;
                    color: #fff;
                    border: 1px solid #BBB!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_other {
                    background-color: #bdb2a7!important;
                    color: #fff;
                    border: 1px solid #BBB!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_other {
                    opacity: 1;
                }
                .os_other:hover {
                    opacity: 1;
                }
                .ua_ie {
                    background-color: #428bca!important;
                    border-color: #357ebd!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_ie:hover {
                    opacity: 1;
                }
                .ua_firefox {
                    background-color: #f0ad4e!important;
                    border-color: #eea236!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_firefox:hover {
                    opacity: 1;
                }
                .ua_maxthon {
                    background-color: #7373B9!important;
                    border-color: #7373B9!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_maxthon:hover {
                    opacity: 1;
                }
                .ua_ucweb {
                    background-color: #FF740F!important;
                    border-color: #d43f3a!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_ucweb:hover {
                    opacity: 1;
                }
                .ua_sogou {
                    background-color: #78ACE9!important;
                    border-color: #4cae4c!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_sogou:hover {
                    opacity: 1;
                }
                .ua_2345explorer {
                    background-color: #2478B8!important;
                    border-color: #4cae4c!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_2345explorer:hover {
                    opacity: 1;
                }
                .ua_2345chrome {
                    background-color: #F9D024!important;
                    border-color: #4cae4c!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_2345chrome:hover {
                    opacity: 1;
                }
                .ua_mi {
                    background-color: #FF4A00!important;
                    border-color: #4cae4c!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_mi:hover {
                    opacity: 1;
                }
                .ua_lbbrowser {
                    background-color: #FC9D2E!important;
                    border-color: #4cae4c!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_lbbrowser:hover {
                    opacity: 1;
                }
                .ua_chrome {
                    background-color: #EE6252!important;
                    border-color: #4cae4c!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_chrome:hover {
                    opacity: 1;
                }
                .ua_qq {
                    background-color: #3D88A8!important;
                    border-color: #4cae4c!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_qq:hover {
                    opacity: 1;
                }
                .ua_apple {
                    background-color: #E95620!important;
                    border-color: #4cae4c!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_apple:hover {
                    opacity: 1;
                }
                .ua_opera {
                    background-color: #d9534f!important;
                    border-color: #d43f3a!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .ua_opera:hover {
                    opacity: 1;
                }
                .os_vista,.os_2000,.os_windows,.os_xp,.os_7,.os_8,.os_8_1 {
                    background-color: #39b3d7!important;
                    border-color: #46b8da!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .os_vista:hover,.os_2000:hover,.os_windows:hover,.os_xp:hover,.os_7:hover,.os_8:hover,.os_8_1:hover {
                    opacity: 1;
                }
                .os_android {
                    background-color: #98C13D!important;
                    border-color: #01B171!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .os_android:hover {
                    opacity: 1;
                }
                .os_ubuntu {
                    background-color: #DD4814!important;
                    border-color: #01B171!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .os_ubuntu:hover {
                    opacity: 1;
                }
                .os_linux {
                    background-color: #3A3A3A!important;
                    border-color: #1F1F1F!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .os_linux:hover {
                    opacity: 1;
                }
                .os_mac {
                    background-color: #666666!important;
                    border-color: #1F1F1F!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .os_mac:hover {
                    opacity: 1;
                }
                .os_unix {
                    background-color: #006600!important;
                    border-color: #1F1F1F!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .os_unix:hover {
                    opacity: 1;
                }
                .os_nokia {
                    background-color: #014485!important;
                    border-color: #1F1F1F!important;
                    border-radius: 4px;
                    padding: 0 5px!important;
                    opacity: .4;
                }
                .os_nokia:hover {
                    opacity: 1;
                }
                /*UA End*/
            }
        }
    }
    .ds-replybox {
        .ds-hidden-text, .ds-avatar {
            display: none;
        }
    }
    .ds-powered-by {
        display: none;
    }
}

@media (max-width: 768px) {
    .ds-post-self {
        flex-direction: column;
        flex: 1;
    }
    .ds-avatar,
    .ds-comment-body {
        flex: auto;
    }
}