footer {
    text-align: center;
    hr {
        max-width: 80%;
        height: 1px;
        margin: -1px auto;
        box-sizing: content-box;
        border: none;
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgb(213, 213, 213), rgba(0, 0, 0, 0));
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(213, 213, 213), rgba(0, 0, 0, 0));
        background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(213, 213, 213), rgba(0, 0, 0, 0));
    }
    p,a {
        font-family: "Avenir Next",Helvetica,Arial,"Lantinghei SC","Microsoft YaHei",sans-serif;
        color: rgb(150,150,150);
    }
    p {
        font-size: 14px;
        margin: 0;
        padding: 8px 0 6px 0;
    }
    a {
        font-size: 13px;
        padding-bottom: 8px;
    }

}