.body {
    min-height: 100%;
}

@media screen and (max-width:1024px) {
    #app {
        min-width: 70%;
    }
    #anonymous {
        margin-left: 5%;
        margin-right: -10%;
    }
}

@media screen and (max-width:1024px) {}

