.pagination {
    text-align: center;
    span {
        display: inline-block;
        margin: 30px 4px;
        padding: 4px 12px;
        border-radius: 4px;
        border-bottom: 4px solid #3aa373;
        font-size: 14px;
        background-color: #4fc08d;
        &:hover {
            background-color: #22bd77
        }
        a {
            color: #fff;
        }
    }
}