html {
    height: 100%;
    font-size: 16px;
    font-family: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    color: lighten(#000, 20%);
    height: 100%;
    background-color: #f2f2f2;
    font-size: 16px;
}

/* calligraffitti-regular - latin */
@font-face {
    font-family: 'Calligraffitti';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/calligraffitti-v7-latin/calligraffitti-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Calligraffitti'), local('Calligraffitti-Regular'),
    url('/assets/fonts/calligraffitti-v7-latin/calligraffitti-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/calligraffitti-v7-latin/calligraffitti-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/calligraffitti-v7-latin/calligraffitti-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/calligraffitti-v7-latin/calligraffitti-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/calligraffitti-v7-latin/calligraffitti-v7-latin-regular.svg#Calligraffitti') format('svg'); /* Legacy iOS */
}

/* meddon-regular - latin */
@font-face {
    font-family: 'Meddon';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/meddon-v9-latin/meddon-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Meddon'),
    url('/assets/fonts/meddon-v9-latin/meddon-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/meddon-v9-latin/meddon-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/meddon-v9-latin/meddon-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/meddon-v9-latin/meddon-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/meddon-v9-latin/meddon-v9-latin-regular.svg#Meddon') format('svg'); /* Legacy iOS */
}

/* 八大山人字体 */
@font-face {
    font-family: 'Chinese';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/chinese.ttf');
}

/* font-diao */
@font-face {
    font-family: 'fontdiao';
    src: url('/assets/fonts/fontdiao/fontdiao.eot'); /* IE9*/
    src: url('/assets/fonts/fontdiao/fontdiao.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/fontdiao/fontdiao.woff') format('woff'), /* chrome、firefox */
    url('/assets/fonts/fontdiao/fontdiao.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//assets/fonts/fontdiao/fontdiao.svg#iconfont') format('svg'); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

#app {
    height: 100%;
}

a:focus {
    outline: none;
}

/*font-diao-fix*/

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-360yunpan:before,
.icon-58:before,
.icon-acer:before,
.icon-alibaba:before,
.icon-alipay:before,
.icon-asus:before,
.icon-baidu:before,
.icon-baiduyun:before,
.icon-cctv:before,
.icon-clover:before,
.icon-cnbeta:before,
.icon-ctrip:before,
.icon-dangdang:before,
.icon-dazhong:before,
.icon-dianping:before,
.icon-dianxin:before,
.icon-dongfangweishi:before,
.icon-douban:before,
.icon-fanfou:before,
.icon-fangzheng:before,
.icon-feixin:before,
.icon-fenghuangweishi:before,
.icon-ganji:before,
.icon-gongshangyinhang:before,
.icon-jd:before,
.icon-jiansheyinhang:before,
.icon-jiaotongyinhang:before,
.icon-jijia:before,
.icon-kingsoft:before,
.icon-kuandaishan:before,
.icon-kx001:before,
.icon-letv:before,
.icon-liantong:before,
.icon-lianxiang:before,
.icon-miliao:before,
.icon-mop:before,
.icon-pengyouquan:before,
.icon-pps:before,
.icon-qq:before,
.icon-qqyinyue:before,
.icon-qzone:before,
.icon-renminyinhang:before,
.icon-renren:before,
.icon-shanghaidianshitai:before,
.icon-shanghaiyinhang:before,
.icon-taobao:before,
.icon-tengxunweibo:before,
.icon-tmall:before,
.icon-tudou:before,
.icon-v2ex:before,
.icon-wangyi:before,
.icon-wangyiweibo:before,
.icon-wangyiyunyinyue:before,
.icon-wechat:before,
.icon-weibo:before,
.icon-weifeng:before,
.icon-xiami:before,
.icon-xiaomi:before,
.icon-xinyeyinhang:before,
.icon-xunlei:before,
.icon-yihaodian:before,
.icon-yilong:before,
.icon-yinlian:before,
.icon-yixun:before,
.icon-youdao:before,
.icon-youku:before,
.icon-youzhen:before,
.icon-zhaoshangyinhang:before,
.icon-zhenai:before,
.icon-zheshangyinhang:before,
.icon-zhihu:before,
.icon-zhihu-square:before,
.icon-zhongguoyinhang:before,
.icon-zhongxinyinhang:before {
    display: inline-block;
    font-family: "fontdiao";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.icon-360yunpan:before { content: "\f100"; }
.icon-58:before { content: "\f101"; }
.icon-acer:before { content: "\f102"; }
.icon-alibaba:before { content: "\f103"; }
.icon-alipay:before { content: "\f104"; }
.icon-asus:before { content: "\f105"; }
.icon-baidu:before { content: "\f106"; }
.icon-baiduyun:before { content: "\f107"; }
.icon-cctv:before { content: "\f108"; }
.icon-clover:before { content: "\f109"; }
.icon-cnbeta:before { content: "\f10a"; }
.icon-ctrip:before { content: "\f10b"; }
.icon-dangdang:before { content: "\f10c"; }
.icon-dazhong:before { content: "\f10d"; }
.icon-dianping:before { content: "\f10e"; }
.icon-dianxin:before { content: "\f10f"; }
.icon-dongfangweishi:before { content: "\f110"; }
.icon-douban:before { content: "\f111"; }
.icon-fanfou:before { content: "\f112"; }
.icon-fangzheng:before { content: "\f113"; }
.icon-feixin:before { content: "\f114"; }
.icon-fenghuangweishi:before { content: "\f115"; }
.icon-ganji:before { content: "\f116"; }
.icon-gongshangyinhang:before { content: "\f117"; }
.icon-jd:before { content: "\f118"; }
.icon-jiansheyinhang:before { content: "\f119"; }
.icon-jiaotongyinhang:before { content: "\f11a"; }
.icon-jijia:before { content: "\f11b"; }
.icon-kingsoft:before { content: "\f11c"; }
.icon-kuandaishan:before { content: "\f11d"; }
.icon-kx001:before { content: "\f11e"; }
.icon-letv:before { content: "\f11f"; }
.icon-liantong:before { content: "\f120"; }
.icon-lianxiang:before { content: "\f121"; }
.icon-miliao:before { content: "\f122"; }
.icon-mop:before { content: "\f123"; }
.icon-pengyouquan:before { content: "\f124"; }
.icon-pps:before { content: "\f125"; }
.icon-qq:before { content: "\f126"; }
.icon-qqyinyue:before { content: "\f127"; }
.icon-qzone:before { content: "\f128"; }
.icon-renminyinhang:before { content: "\f129"; }
.icon-renren:before { content: "\f12a"; }
.icon-shanghaidianshitai:before { content: "\f12b"; }
.icon-shanghaiyinhang:before { content: "\f12c"; }
.icon-taobao:before { content: "\f12d"; }
.icon-tengxunweibo:before { content: "\f12e"; }
.icon-tmall:before { content: "\f12f"; }
.icon-tudou:before { content: "\f130"; }
.icon-v2ex:before { content: "\f131"; }
.icon-wangyi:before { content: "\f132"; }
.icon-wangyiweibo:before { content: "\f133"; }
.icon-wangyiyunyinyue:before { content: "\f134"; }
.icon-wechat:before { content: "\f135"; }
.icon-weibo:before { content: "\f136"; }
.icon-weifeng:before { content: "\f137"; }
.icon-xiami:before { content: "\f138"; }
.icon-xiaomi:before { content: "\f139"; }
.icon-xinyeyinhang:before { content: "\f13a"; }
.icon-xunlei:before { content: "\f13b"; }
.icon-yihaodian:before { content: "\f13c"; }
.icon-yilong:before { content: "\f13d"; }
.icon-yinlian:before { content: "\f13e"; }
.icon-yixun:before { content: "\f13f"; }
.icon-youdao:before { content: "\f140"; }
.icon-youku:before { content: "\f141"; }
.icon-youzhen:before { content: "\f142"; }
.icon-zhaoshangyinhang:before { content: "\f143"; }
.icon-zhenai:before { content: "\f144"; }
.icon-zheshangyinhang:before { content: "\f145"; }
.icon-zhihu:before { content: "\f146"; }
.icon-zhihu-square:before { content: "\f147"; }
.icon-zhongguoyinhang:before { content: "\f148"; }
.icon-zhongxinyinhang:before { content: "\f149"; }


@import "index";
@import 'header';
@import 'navbar';
@import 'section';
@import 'footer';
@import 'pagination';
@import 'loading';
@import 'media';
@import 'comment';
@import 'tag';
@import "navigation";